/* Global Layout*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    color:  rgb(47, 62, 70) ;
    background: rgb(202, 210, 197);
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:  #0499ff;
}

/* Section Styles */

.main-navigation {
    position: fixed;
    width: 100%;
    min-height: 60px;
    padding: 10px;
    text-align: center;
    background: rgb(132, 169, 140);
}
.navigation {
    position: absolute;
    right: 60px;
    background: rgb(132, 169, 140);
}
ul li {
    display: inline-block;
    padding: 5px 10px 10px 10px;
}
.navigation a {
    transition: all .6s;
    color: blueviolet;
}
img {
    margin-top: 100px;
}
header .profile-image {
    margin-top: 80px;
    border: 3px solid white;
    border-radius: 30px;
  }
.card {
    margin: 20px 80px;
}